---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AccessModifierOffset: -4
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
IndentCaseLabels: false
NamespaceIndentation: None
FixNamespaceComments: true
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
BinPackArguments: true
BinPackParameters: true
AlignConsecutiveMacros: Consecutive
AlignTrailingComments: true